/*style sheet for nyc gallery*/

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');  
* {
  margin: 0;
  padding: 0;
}

html {
  /* this is how to get a full sized fixed centered background*/
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* apply default font style*/
body {
  font-family: "Kaushan Script", cursive;
}

.container {
width: 900px; 
margin: 0 auto;
font-size: 0;
}

.polaroid {
    width: 260px;
    margin: 20px;
    display: inline-block;
    /* WHENEVER U WANT A CHILD ELEMENT TO POSITION WITHIN A PARENT ELEMENT
       U HAVE TO RELATIVE POSITITON THE PARENT */
    position: relative;
}

.polaroid img {
    width: 100%;
    height: auto;
    /* border shorthand is 1- width, style, color */
    border: 10px solid #ccc;
    border-bottom-width: 45px;
}

.polaroid p {
    font-size: 1rem;
    position: absolute;
    bottom: 14px;
    width: 280px;
    text-align: center;
    color: #333;
}
