/* global styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100%;
    height: auto;
}

/* Flexboxe simple row layouts */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* if run out of space, start new line */
    /* some styles so we can see our containers */
    border: 1px solid purple;
    background-color: rgba(225, 0, 225, 0.3);
    min-height: 400px;
    width: 100%;
}

.item {
    border: 1px solid cornflowerblue;
    background-color: rgba(0, 0, 225, 0.3);
    width: 23%;
    height: 300px;
}

.center {
    display: text;
    justify-content: center;
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-even {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.self-start {
    align-items: flex-start;
}

.self-end {
    align-self: stretch;
}

.self-stretch {
    align-self: stretch;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .self-stretch {
        height: 300px;
        /* stretch flec properties will not override  */
        width: auto;
    }
}